body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkslategray;
}

hr {
    width: 500px;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

.tile.game-cell:hover {
    background-color: steelblue;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: slategray;
    border-radius: 10px;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: powderblue;
    background-color: lightseagreen;
    border-radius: 10px;
}

.number:hover {
    background-color: steelblue;
}

.eraser {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    border-radius: 10px;
}

.eraser:hover {
    background-color: indianred;
}

.eraser-selected {
    background-color: gray;
}

.pencil {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    border-radius: 10px;
}

.pencil:hover {
    background-color: mediumseagreen;
}

.pencil-selected {
    background-color: mediumseagreen;
}

.number-selected {
    background-color: darkcyan;
}

.tile-start {
    color: darkcyan;
    background-color: mediumaquamarine;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#start-button {
    margin: 20px 0 0 0;
    background-color: gray;
    border: 1px solid whitesmoke;
    padding: 3px;
    width: 100px;
    height: 45px;
    background-color: lightsteelblue;
    border-radius: 10px;
}

#start-button:hover {
    background-color: steelblue;
}

.game {
    pointer-events: none;
}

.mark {
    line-break: anywhere;
    font-size: 14px;
}

.hovered-line {
    box-shadow: 0px 0px 6px 3px black
}