* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #092328;
    width: 100vw;
    height: 100vh;
    font-family: system-ui;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    text-align: center;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#start {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(42, 131, 95, 0.41);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#start-button {
    border: 1px solid #abe5b3;
    background-color: #8bbb92;
    width: 120px;
    height: 35px;
    border-radius: 4px;
    color: #12544f;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 4px 8px 0px #000000;
}

#start-button:hover {
    cursor: pointer;
    box-shadow: none;
}

#game-status,
#game-tools {
    background-color: #12544f;
}

#game-status {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    width: 220px;
    position: fixed;
    top: 220px;
    right: 30px;
}

#game-status-title {
    color: #abe5b3;
}

#wrong-titile,
#wrong-number {
    font-size: 25px;
}

#wrong-titile {
    color: #8b9cbb;
    display: inline-block;
}

#wrong-number {
    color: #bb8bb4;
    font-weight: bold;
}

#timer {
    color: #b4bb8b;
}

#game-board {
    background-color: #2a835f;
    width: 650px;
    height: 650px;
}

#game-tools {
    position: fixed;
    top: 220px;
    left: 30px;
    background-color: rgba(139, 156, 187, 0.4);
    color: #8bbb92;
    border-radius: 8px;
    border: 1px solid #abe5b3;
}

#numbers {
    width: 220px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

#number-item-title {
    margin: 0 0 15px 0;
}

.tools {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 0 5px 0;
    background-color: rgba(187, 139, 180, 0.3);
    color: #abe5b3;
}

.tools:hover {
    cursor: pointer;
    background-color: rgba(187, 139, 180, 0.5);
}

#tools {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

#tool-item-title {
    margin: 0 0 15px 0;
}

.tools img {
    width: 50px;
    height: 50px;
}